<html>
  <head>
  <title>jQuery.autosave Examples</title>

  <link type="text/css" rel="stylesheet" href="/static/styles.css" />

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.min.js"></script>
  <script type="text/javascript" src="/static/jquery.autosave.min.js"></script>

  <script type="text/javascript">
    jQuery(function($) {
      $("form").autosave({
        callbacks: {
          // Add three triggers:
          // 1. change - when an input is changed on blur
          // 2. save button press - when button name=save is clicked
          // 3. interval - on a regular timer
          //
          // All three are applied to the same scope of inputs, defined below.
          trigger: ["change", function() {
            // A trigger for the save button.
            var self = this;
            $("[name=save]").click(function() {
              self.save();
            });
          }, {
            method: "interval",
            options: {
              interval: 5000 // in milliseconds.
            }
          }],
          scope: {
            method: function() {
              // Builtin scope "changed" does not catch textareas being edited,
              // so add textareas marked as undergoing an edit.
              // See textarea typing callback below.
              return this.changedInputs().add("textarea.editing");
            }
          },
          save: {
            method: "ajax",
            options: {
              success: function(data) {
                // Callback for successfully saved data.
                // This data is returned by jsonify in Flask app.
                console.log(data);

                // Now that data is saved, remove editing class.
                // editing class should stay if user typed since save,
                // but as this code stands now, remove it always.
                $("textarea.editing").removeClass("editing");
              }
            }
          }
        }
      });

      $("textarea").keyup(function () {
         // Prevent redundant saving of textareas by detecting typing.
         // If textarea text length changes, mark textarea as undergoing edit.
         // Minor limitation: does not catch single highlighted char changes.
         if ($(this).attr("count") != $(this).val().length) {
           $(this).addClass("editing");
         }
         $(this).attr("count", $(this).val().length);
      });
    });
  </script>
  </head>
  <body>
    <h1>jQuery.autosave Examples</h1>

    <h2>The Forms</h2>
    <form name="example1" id="example1">
      <ol class="example">
        <li>
          <h4>Text</h4>
          <input name="text" type="text" value="" />
        </li>
        <li>
          <h4>Textarea</h4>
          <textarea name="textarea"></textarea>
        </li>
        <li>
          <h4>Radio Group</h4>
          <span class="group">
            <label class="radio"><input name="radio" type="radio" value="1" />1</label>
            <label class="radio"><input name="radio" type="radio" value="2" />2</label>
            <label class="radio"><input name="radio" type="radio" value="3" />3</label>
          </span>
        </li>
        <li>
          <h4>Checkbox Group</h4>
          <span class="group">
            <label class="checkbox"><input name="checkbox" type="checkbox" value="1" />1</label>
            <label class="checkbox"><input name="checkbox" type="checkbox" value="2" />2</label>
            <label class="checkbox"><input name="checkbox" type="checkbox" value="3" />3</label>
          </span>
        </li>
        <li>
          <h4>Select List</h4>
          <select name="select">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </li>
          <li>
            <h4>Multiple Select List</h4>
            <select name="multi-select" multiple="multiple">
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </li>
      </ol>
    </form>

    <form name="example2" id="example2">
      <input name="text2" type="text" value="" />
    </form>

    <button type="button" name="save">Save</button>
  </body>
</html>
